body { 
    text-align: center 
}
.contact {
    text-align: center
}
#achievementsID{
    padding-bottom: 10px;
}
.movie_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}
.movie_head i{
    float: right;
}

.movie_text span
{
    color: #ff7700
}
#new{
    scroll-behavior: smooth;
}
.img1 {
    width:50%;
}
img {
 width:500px;
}
contact {
    text-align: center;
}